<nav class="header">
    <a href="/welcome"><h1 class="nav-element">Home</h1></a>
    <a href="/signin"><h1 class="nav-element">Sign In</h1></a>
    <a href="/register"><h1 class="nav-element">Register</h1></a>
    <a href="/logout"><h1 class="nav-element">Logout</h1></a>
</nav>
<hr>