<div>
    <h1>Unfortunately we have run into an error!</h1>
    <p>User with ID <strong><%= user_id%></strong> already has a shop with name <strong><%= shop_name %>!</strong></p>
    <p>Please click <a href='/shop_generator'>HERE</a> to return to the shop generator form.</p>
    <p>Or, click <a href='/welcome'>HERE</a> to return to the homepage.</p>
</div>