<div>
    <h1>Unfortunately we have run into an error!</h1>
    <p>You must select at least 1 book before submitting the form!</p>
    <p>Please try again - if you click the back arrow you can return to your generation settings.</p>
    <br>
    <p>Please click <a href='/shop_generator'>HERE</a> to return to the shop generator form.</p>
    <p>Or, click <a href='/welcome'>HERE</a> to return to the homepage.</p>
</div>