<script type="text/javascript">
    function updatePercentages() {
        let weaponPercentage = parseInt(document.getElementById("weaponPercentage").value);
        let armorPercentage = parseInt(document.getElementById("armorPercentage").value);
        let totalPercentage = weaponPercentage + armorPercentage;
        document.getElementById("weaponPercentageDisplay").innerText = weaponPercentage + "%";
        document.getElementById("armorPercentageDisplay").innerText = armorPercentage + "%";

        totalPercentageField = document.getElementById("totalPercentage");
        totalPercentageField.innerText = "Total Percentage: " + totalPercentage + "%";
        if (totalPercentage == 100) {
            totalPercentageField.classList.remove("badInput");
            totalPercentageField.classList.add("goodInput");
        } else {
            totalPercentageField.classList.remove("goodInput");
            totalPercentageField.classList.add("badInput");
        }
        validateInputForButton();
    }

    function validateNumberInput() {
        let goldInShopInput = document.getElementById("goldInShop");
        let maxGoldItemInput = document.getElementById("maxGoldItemInShop");
        let averageGoldInput = document.getElementById("averageGoldValue");

        if (parseInt(goldInShopInput.value) < 100 || parseInt(goldInShopInput.value) > 9999999) {
            goldInShopInput.classList.add("badInput");
        } else {
            goldInShopInput.classList.remove("badInput");
        }

        if (parseInt(maxGoldItemInput.value) < 1 || parseInt(maxGoldItemInput.value) > 9999999 || parseInt(maxGoldItemInput.value) > parseInt(goldInShopInput.value)) {
            maxGoldItemInput.classList.add("badInput");
        } else {
            maxGoldItemInput.classList.remove("badInput");
        }

        if (parseInt(averageGoldInput.value) < 0 || parseInt(averageGoldInput.value) > 9999999 
            || parseInt(averageGoldInput.value) > parseInt(maxGoldItemInput.value) || parseInt(averageGoldInput.value) > parseInt(goldInShopInput.value)) {
                averageGoldInput.classList.add("badInput");
            } else {
                averageGoldInput.classList.remove("badInput");
            }
        validateInputForButton();
    }

    function validateShopName() {
        let shopNameInput = document.getElementById("shopNameInput");

        if (shopNameInput.value.length < 3) {
            shopNameInput.classList.add("badInput");
        } else {
            shopNameInput.classList.remove("badInput");
        }
        validateInputForButton();
    }

    function validateInputForButton() {
        let theButton = document.getElementById("submitButton");

        let badInputs = document.getElementsByClassName("badInput");
        if (badInputs.length > 0) {
            theButton.classList.add("disabledButton");
        } else {
            theButton.classList.remove("disabledButton");
        }
    }
</script>
<div>
    <p><em>For now only armor and weapons can be generated, and they are all nonmagical. More features coming!</em></p>
    <br>
    <form action="/shop_generator" method="POST" onkeydown="return event.key != 'Enter';">
        <div class="shopNameContainer">
            <p>Enter the name of the shop? (Filename)</p>
            <input type="text" class="shopNameInput badInput" id="shopNameInput" name="shopNameInput" onkeyup="validateShopName();">
        </div>

        <div class="shopInputContainer">
            <p>What percentage of weapons should be generated?</p>
            <input type="range" class="percentageInput" id="weaponPercentage" name="weaponPercentage" min="0" max="100"
                step="5" oninput="updatePercentages();" value="50">
            <p id="weaponPercentageDisplay">50%</p>
        </div>

        <div class="shopInputContainer">
            <p>What percentage of armor should be generated?</p>
            <input type="range" class="percentageInput" id="armorPercentage" name="armorPercentage" min="0" max="100"
                step="5" oninput="updatePercentages();" value="50">
            <p id="armorPercentageDisplay">50%</p>
        </div>

        <div class="shopTotalPercentageContainer">
            <h3 id="totalPercentage" class="goodInput">Total Percentage: 100%</h3>
        </div>

        <div class="shopInputContainer">
            <p>How much money worth of goods does this shop have?</p>
            <input type="number" class="numberInput" id="goldInShop" name="goldInShop" min="100" max="9999999"
                onkeyup="validateNumberInput();" value="100">
        </div>

        <div class="shopInputContainer">
            <p>What is the most expensive item this shop can have?</p>
            <input type="number" class="numberInput" id="maxGoldItemInShop" name="maxGoldItemInShop" min="1"
                max="9999999" onkeyup="validateNumberInput();" value="1">
        </div>

        <div class="shopInputContainer">
            <p>What is the average gold value per item? <em>Enter 0 for fully random.</em></p>
            <input type="number" class="numberInput" id="averageGoldValue" name="averageGoldValue" min="0" 
                max="9999999" onkeyup="validateNumberInput();" value="5">
        </div>

        <div class="submitContainer">
            <button id="submitButton" class="submitButton disabledButton" type="submit">Generate</button>
        </div>
    </form>
</div>