<div class="itemContainer">
    <% if (type == "weapon") { %>
        <h1><%= item.Weapon_Name %></h1>
    <% } else if (type == "armor") { %>
        <h1><%= item.Armor_Name %></h1>
    <% } %>
</div>