<div class="container-welcome">
    <div class="main">
        <h2>Welcome to the Magic Item Store Generator!</h2>
    </div>
    <div class="menu">
        <a href="/shop_generator"><h3>Shop Generator</h3></a>
        <a href="/spells"><h3>Spells</h3></a>
    </div>
</div>
